.tooltip {
	border-color: pink;
	border-style: dotted;
	border-width: 2px;
}

.tpd-skin-dark .tpd-content{
	background: white;
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	color: black !important;
}